<div class="form-group">
    <label for="subscriber">Користувачі</label>
    <select class="form-control" id="subscriber" name="subscriber" required>
        <option value="all">Всі</option>
        <?php foreach ($this->subscribers as $subscriber): ?>
            <option value="<?php echo $subscriber['subscriber_id']; ?>">
                <?php echo $subscriber['last_name'] . ' ' . $subscriber['first_name'] . ' [ ' . $subscriber['phone'] . ' ]'; ?>
            </option>
        <?php endforeach; ?>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-outline-dark" onclick="reportGenerate();">
        <i class="fas fa-cogs"> Виконати</i>
    </button>
    <button class="btn btn-outline-success disabled" onclick="reportPrint()">
        <i class="fas fa-print"> Друк</i>
    </button>
</div>
<div id="report-result"></div>