body {
    min-height: 50em;
    padding-top: 4.5rem;
}

.form.login {
    margin: 100px auto;
}

.main-menu.navbar .navbar-brand {
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    margin-right: 2rem;
    color: #7fffd4;
}

.subscriber-ban .ui-switcher[aria-checked=false] {
    background-color: #25ba9a;
}

.subscriber-ban .ui-switcher[aria-checked=true] {
    background-color: #cd5c5c;
}