<form method="post" action="<?php echo $this->url(array('action' => 'add')); ?>">
    <div class="form-group">
        <label for="name">Назва</label>
        <input type="text" class="form-control" name="name" id="name" required>
    </div>
    <div class="form-group">
        <label for="speed">Швидкість (Mbps)</label>
        <input type="number" class="form-control" name="speed" id="speed" required>
    </div>
    <div class="form-group">
        <label for="price">Вартість</label>
        <input type="text" class="form-control" name="price" id="price" required>
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    <a href="<?php echo $this->url(array('action' => 'index')); ?>" class="btn btn-link">Скасувати</a>
</form>