<form method="post" action="<?php echo $this->url(array('action' => 'edit')); ?>">
    <input type="hidden" name="tariff_id" value="<?php echo $this->tariff['tariff_id']; ?>">
    <div class="form-group">
        <label for="name">Назва</label>
        <input type="text" class="form-control" name="name" id="name" required value="<?php echo $this->tariff['name']; ?>">
    </div>
    <div class="form-group">
        <label for="speed">Швидкість (Mbps)</label>
        <input type="number" class="form-control" name="speed" id="speed" required value="<?php echo $this->tariff['speed']; ?>">
    </div>
    <div class="form-group">
        <label for="price">Вартість</label>
        <input type="text" class="form-control" name="price" id="price" required value="<?php echo $this->tariff['price']; ?>">
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    <a href="<?php echo $this->url(array('controller' => 'tariffs', 'action' => 'index'), null, true); ?>" class="btn btn-link">Скасувати</a>
</form>