<?php if (!empty($this->messages)) : ?>
    <?php echo $this->partial('blocks/messages/' . $this->namespace . '.phtml', array('messages' => $this->messages)); ?>
<?php endif; ?>
<?php if ($this->tariffs): ?>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Швидкість (Mbps)</th>
            <th scope="col">Вартість</th>
            <th scope="col">
                <a href="<?php echo $this->url(array('action' => 'add')); ?>" title="Add" class="btn btn-outline-info">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
            <?php foreach($this->tariffs as $item): ?>
                <tr>
                    <th scope="row"><?php echo $item['tariff_id']; ?></th>
                    <td><?php echo $item['name']; ?></td>
                    <td><?php echo $item['speed']; ?></td>
                    <td><?php echo $item['price']; ?></td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="<?php echo $this->url(array('controller' => 'tariffs', 'action' => 'edit', 'id' => $item['tariff_id'])); ?>">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-danger" href="<?php echo $this->url(array('controller' => 'tariffs', 'action' => 'delete', 'id' => $item['tariff_id'])); ?>">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    Тарифи відсутні...
    <br>
    <a href="<?php echo $this->url(array('action' => 'add')); ?>" title="Add" class="btn btn-outline-info">
        <i class="fas fa-plus-circle"></i>
    </a>
<?php endif; ?>