<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ім'я</th>
        <th scope="col">Прізвище</th>
        <th scope="col">Номер телефону</th>
        <th scope="col">Електронна пошта</th>
        <th scope="col">Адреса</th>
        <th scope="col">Рахунок</th>
        <th scope="col">Назва тарифу</th>
        <th scope="col">Швидкість (Mbps)</th>
        <th scope="col">Вартість</th>
        <th scope="col">Активний</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->subscribers as $subscriber): ?>
        <tr>
            <th><?php echo $subscriber['subscriber_id']; ?></th>
            <th><?php echo $subscriber['first_name']; ?></th>
            <th><?php echo $subscriber['last_name']; ?></th>
            <th><?php echo $subscriber['phone']; ?></th>
            <th><?php echo $subscriber['email']; ?></th>
            <th><?php echo $subscriber['address']; ?></th>
            <th><?php echo $subscriber['balance']; ?></th>
            <th><?php echo $subscriber['tariff']; ?></th>
            <th><?php echo $subscriber['speed']; ?></th>
            <th><?php echo $subscriber['price']; ?></th>
            <th><?php echo $subscriber['banned']; ?></th>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
