<strong>Користувач</strong>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <strong>Прізвище: </strong>
        <?php echo $this->subscriber['last_name']; ?>
    </li>
    <li class="list-group-item">
        <strong>Ім'я: </strong>
        <?php echo $this->subscriber['first_name']; ?>
    </li>
    <li class="list-group-item">
        <strong>Номер телефону: </strong>
        <?php echo $this->subscriber['phone']; ?>
    </li>
    <li class="list-group-item">
        <strong>Адреса: </strong>
        <?php echo $this->subscriber['address']; ?>
    </li>
    <li class="list-group-item">
        <strong>Електронна пошта: </strong>
        <?php echo $this->subscriber['email']; ?>
    </li>
    <li class="list-group-item">
        <strong>Рахунок: </strong>
        <?php echo $this->subscriber['balance']; ?>
    </li>
    <li class="list-group-item">
        <strong>Активний: </strong>
        <?php echo $this->subscriber['banned']; ?>
    </li>
</ul>
<br>
<strong>Тариф</strong>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <strong>Назва: </strong>
        <?php echo $this->tariff['name']; ?>
    </li>
    <li class="list-group-item">
        <strong>Швидкість (Mbps): </strong>
        <?php echo $this->tariff['speed']; ?>
    </li>
    <li class="list-group-item">
        <strong>Вартість: </strong>
        <?php echo $this->tariff['price']; ?>
    </li>
</ul>