<form action="<?php echo $this->url(array('action' => 'logining')); ?>" method="post" class="form login col-6">
    <div class="form-group">
        <input type="text" name="login" required placeholder="Ім'я" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" name="password" required placeholder="Пароль" class="form-control">
    </div>
    <button type="submit" class="form-control btn btn-success">Увійти</button>
</form>