<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headScript(); ?>
		<?php echo $this->headMeta(); ?>
		<?php echo $this->headTitle(); ?>
		<?php echo $this->headLink(); ?>
	</head>
	<body>
        <?php echo $this->menu ? $this->menu : null; ?>
        <main role="main" class="container-fluid">
            <?php echo $this->layout()->content; ?>
            <?php echo $this->inlineScript(); ?>
        </main>
	</body>
</html>