<form method="post" action="<?php echo $this->url(array('action' => 'add')); ?>">
    <div class="form-group">
        <label for="first_name">Ім'я</label>
        <input type="text" class="form-control" name="first_name" id="first_name" required>
    </div>
    <div class="form-group">
        <label for="last_name">Прізвище</label>
        <input type="text" class="form-control" name="last_name" id="last_name" required>
    </div>
    <div class="form-group">
        <label for="address">Адреса</label>
        <input type="text" class="form-control" name="address" id="address" required>
    </div>
    <div class="form-group">
        <label for="phone">Номер телефону</label>
        <input type="text" class="form-control" name="phone" id="phone" required>
    </div>
    <div class="form-group">
        <label for="email">Електронна пошта</label>
        <input type="email" class="form-control" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="tariff">Тариф</label>
        <select class="form-control" id="tariff" name="tariff_id" required>
            <?php foreach ($this->tariffs as $tariff): ?>
                <option value="<?php echo $tariff['tariff_id']; ?>">
                    <?php echo $tariff['name']; ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="form-group">
        <label for="balance">Рахунок</label>
        <input type="text" class="form-control" name="balance" id="balance" required>
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    <a href="<?php echo $this->url(array('controller' => 'subscribers', 'action' => 'index'), null, true); ?>" class="btn btn-link">Скасувати</a>
</form>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#phone').mask('+38 (000) 000-00-00');
    });
</script>