<form method="post" action="<?php echo $this->url(array('action' => 'edit')); ?>">
    <input type="hidden" name="subscriber_id" value="<?php echo $this->subscriber['subscriber_id']; ?>">
    <div class="form-group">
        <label for="first_name">Ім'я</label>
        <input type="text" class="form-control" name="first_name" id="first_name" required value="<?php echo $this->subscriber['first_name']; ?>">
    </div>
    <div class="form-group">
        <label for="last_name">Прізвище</label>
        <input type="text" class="form-control" name="last_name" id="last_name" required value="<?php echo $this->subscriber['last_name']; ?>">
    </div>
    <div class="form-group">
        <label for="address">Адреса</label>
        <input type="text" class="form-control" name="address" id="address" required value="<?php echo $this->subscriber['address']; ?>">
    </div>
    <div class="form-group">
        <label for="phone">Номер телефону</label>
        <input type="text" class="form-control" name="phone" id="phone" required value="<?php echo $this->subscriber['phone']; ?>">
    </div>
    <div class="form-group">
        <label for="email">Електронна пошта</label>
        <input type="email" class="form-control" name="email" id="email" value="<?php echo $this->subscriber['email']; ?>">
    </div>
    <div class="form-group">
        <label for="tariff">Тариф</label>
        <select class="form-control" id="tariff" name="tariff_id" required>
            <?php foreach ($this->tariffs as $tariff): ?>
                <option value="<?php echo $tariff['tariff_id']; ?>" <?php if ($tariff['tariff_id'] == $this->subscriber['tariff_id']): ?>selected<?php endif; ?>>
                    <?php echo $tariff['name']; ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="form-group">
        <label for="balance">Рахунок</label>
        <input type="text" class="form-control" name="balance" id="balance" required value="<?php echo $this->subscriber['balance']; ?>">
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    <a href="<?php echo $this->url(array('controller' => 'subscribers', 'action' => 'index'), null, true); ?>" class="btn btn-link">Скасувати</a>
</form>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#phone').mask('+38 (000) 000-00-00');
        jQuery('#balance').on('keyup', function () {
            let value = jQuery(this).val();
            if (value.indexOf('.') != 'undefined') {
                if (value.match(/\./g) && value.match(/\./g).length > 1) {
                    value = value.substring(0, value.length - 1);
                }
                jQuery(this).val(value.replace(',', ''));
            } else {
                jQuery(this).val(value.replace(',', '.'));
            }
        });
    });
</script>