<?php if (!empty($this->messages)) : ?>
    <?php echo $this->partial('blocks/messages/' . $this->namespace . '.phtml', array('messages' => $this->messages)); ?>
<?php endif; ?>
<?php if ($this->subscribers): ?>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Прізвище</th>
            <th scope="col">Адреса</th>
            <th scope="col">Номер телефону</th>
            <th scope="col">Електронна пошта</th>
            <th scope="col">Тариф</th>
            <th scope="col">Рахунок</th>
            <th scope="col">Активний</th>
            <th scope="col">
                <a href="<?php echo $this->url(array('action' => 'add')); ?>" title="Add" class="btn btn-outline-info">
                    <i class="fas fa-user-plus"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
            <?php foreach($this->subscribers as $item): ?>
                <tr>
                    <th scope="row"><?php echo $item['subscriber_id']; ?></th>
                    <td><?php echo $item['first_name']; ?></td>
                    <td><?php echo $item['last_name']; ?></td>
                    <td><?php echo $item['address']; ?></td>
                    <td><?php echo $item['phone']; ?></td>
                    <td><?php echo $item['email']; ?></td>
                    <td><?php echo $item['tariff']; ?></td>
                    <td><?php echo $item['balance']; ?></td>
                    <td>
                        <div class="subscriber-ban">
                            <input type="checkbox" <?php if ($item['banned']): ?>checked<?php endif; ?> onchange="banAjax('<?php echo $item['subscriber_id']; ?>');">
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="<?php echo $this->url(array('controller' => 'subscribers', 'action' => 'edit', 'id' => $item['subscriber_id'])); ?>">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-danger" href="<?php echo $this->url(array('controller' => 'subscribers', 'action' => 'delete', 'id' => $item['subscriber_id'])); ?>">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.switcher();
        });
    </script>
<?php else: ?>
    Користувачі відсутні...
    <br>
    <a href="<?php echo $this->url(array('action' => 'add')); ?>" title="Add" class="btn btn-outline-info">
        <i class="fas fa-user-plus"></i>
    </a>
<?php endif; ?>