<nav class="main-menu navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index')); ?>">
        <i class="fas fa-network-wired"></i>
        Billing
    </a>
    <ul class="navbar-nav mr-auto">
        <?php $controllerName = Zend_Controller_Front::getInstance()->getRequest()->getControllerName(); ?>
        <li class="nav-item <?php if ($controllerName == 'tariffs'): ?>active<?php endif; ?>">
            <a class="nav-link" href="<?php echo $this->url(array('controller' => 'tariffs', 'action' => 'index')); ?>">
                <i class="fas fa-sd-card"></i>
                Тарифи
            </a>
        </li>
        <li class="nav-item <?php if ($controllerName == 'subscribers'): ?>active<?php endif; ?>">
            <a class="nav-link" href="<?php echo $this->url(array('controller' => 'subscribers', 'action' => 'index')); ?>">
                <i class="fas fa-users"></i>
                Користувачі
            </a>
        </li>
        <li class="nav-item <?php if ($controllerName == 'report'): ?>active<?php endif; ?>">
            <a class="nav-link" href="<?php echo $this->url(array('controller' => 'report', 'action' => 'index')); ?>">
                <i class="fas fa-file-invoice-dollar"></i>
                Звіт
            </a>
        </li>
    </ul>
</nav>